@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
  
    background-color: orangered;
    color: white;
    margin: 0;
    font-family: 'Maven Pro', rubik;
}



.container {
    padding: 40px;
    margin: 0 auto;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}
h1 {
    
  text-transform: uppercase;
    text-align: center;
    font-size: 86px;
    top: 20px;
    margin: 0px 10px 10px 0;
    margin-left: 50px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}
.card {
    list-style: none;
    padding: 40px;
    background-color: white;
    border: 2px solid #FFC312;
    color: #222;
  text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}



.search {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 1em 0;
  }
  
  
  .search .search-input,
  .search .search-button {
    border: 0;
    padding: 1em;
  }
  
  .search .search-input {
    width: 100%;
  }
  
  .search .search-button {
    background-color: #2b75bb;
    color: #fff;
    cursor: pointer;
  }
  
  
  .error {
    display: none;
    font-size: 1.5em;
  }
  
  .pokemon {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #f2f2f2;*/
    background-color: orangered;
    opacity: 1;
    color: white; 
  }
  
  .pokemon .pokemon-picture {
    width: 150px;
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid #FFC312;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 38px;
    margin-bottom: 38px;
  }
  
  .pokemon .pokemon-picture img {
    width: 100%;
  }
  
  
  .pokemon .pokemon-info {
    width: 100%;
    background-color: orangered;
    flex: 2;
  }
  
  .pokemon-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1em;
  }
  
  
  .pokemon-info .name,
  .pokemon-info .skill,
  .pokemon-info .weight,
  .pokemon-info .height  {
    width: 100%;
    padding: .5em .2em;
    font-size: 1.7em;
  }
  
  .pokemon-info .name {
    font-size: 2.5em;
    text-align: center;
    color: #FFC312; 
    font-weight: bold;
    text-transform: capitalize;
  }
  .pokemon-info .number{
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
  }
  .pokemon-info .skill{
    text-align: justify;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .pokemon-info .weight,
  .pokemon-info .height {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }
  
  .fade {
    animation: fadeEfect 4s;
  }







@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
